@font-face {
    	font-family: HeadUpDaisy;
    	src: url(/static/fonts/HeadUpDaisy.ttf) format('truetype');
}

@font-face {
    	font-family: ScanLine;
    	src: url(/static/fonts/ScanLine.ttf) format('truetype');
}

@font-face {
    	font-family: TheStrongGamer ;
    	src: url(/static/fonts/TheStrongGamer.ttf) format("truetype") ;
}

body {
	background: #121214;
}

h1 {
   	font-family: ScanLine;
   	margin-bottom: 0px;
   	font-size: 96px;
   	text-align: center;
   	color: white;
}

#logo {
   	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 50%;
}


#subtitle {
   	font-family: TheStrongGamer;
   	margin-top: 0px;
   	font-size: 48px;
   	text-align: center;
   	color: white;
}
#article {
   	font-family: TheStrongGamer;
   	text-align: center;
   	font-size: 24px;
   	color: white;
}

#container {
  	font-family: TheStrongGamer;
	left-padding: 10%;
	width: 90%;
	clear: both;
  	color: white;
	text-align: center;
}

#container input {
  	width: 25%;
  	clear: both;
}
#container #button {
	width: 10%;	
  	margin-left: 5%;
} 
#msgarea {
	font-family: Misc Fixed;
	font-size: 16px;
	color: #EBF5FF;
}

#msgarea span {
	font-family: Misc Fixed;
	font-size: 20px;
}

#msg {
	margin-top: 10px;
	margin-left: 115px;
	height: 20px;
	color: white;
	font-family: Misc Fixed;
	background: #313138;
}
