<html>
    <head>
        <title>LIND</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <img id="logo" src="/static/logo.svg"/>
        <p id=subtitle>LIND is not Discord</p>
        <p id=article>LIND is a way of communication and quite an unsecure one at that<br>That's why you shouldn't share sensitive information here!<br>To create or join a room, enter your nickname and your room's ID below<br></b></p>
	<div id="container">
        	<form id=connect  method="POST">
	    		{{ form.csrf_token() }}
	    		Name:{{form.name}} Room ID:{{form.room_id}}

            		<input id=button type=submit value="Join">
		</form>
	</div>
    </body>
</html>
